.command {
  background-color: var(--secondary-background-color);
}
.command__title {
  margin-bottom: 50px;
}

.command__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.command__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    & + & {
      margin-left: 30px;
    }
  }
  background-color: var(--third-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command__description {
  padding: 30px 0;
  text-align: center;
}
.command__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.command__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}
