.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: flex;

  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer__adress {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__social {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 0px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}
.addres__list {
  display: inline-block;
}
.addres__item + .addres__item {
  margin-top: 9px;
}

.adress__location {
  @include font($fz: 14px, $lh: 24px);
  color: var(--third-text-color);
}
.adress__contacts {
  @include font($fz: 14px, $lh: 24px);
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  @include font($fw: 700, $fz: 14px, $lh: 16px, $tt: uppercase);
  color: #ffffff;

  margin-bottom: 20px;
}

.footer__subscribe {
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: auto;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form-footer__input {
  padding: 14px;

  background-color: transparent;
  color: var(--third-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  outline: none;
  @include transition($pr: border-color);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    @include font($fz: 16px, $lh: 20px);
    color: rgba(255, 255, 255, 0.6);
  }

  width: 100%;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    flex-basis: calc(100% - 210px);
  }
}
.form-footer__btn {
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.form-footer__icon {
  margin-left: 10px;
  align-self: center;
}
