.btn {
  display: flex;
  justify-content: center;

  padding: 10px 20px;
  width: 200px;

  @include font($fw: 700, $fz: 16px, $lh: 30px, $ls: 0.06em);

  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--third-text-color);

  cursor: pointer;

  &:active {
    background-color: var(--active-color);
  }
}
