.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  @include centred();
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;

  @include transition($pr: background-color);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}
.social-list__icon {
  fill: currentColor;
  @include transition($pr: fill);
  .social-list__link:focus &,
  .social-list__link:hover & {
    fill: #ffffff;
  }
}

// INVERTED

.social-list__link_inverted {
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: currentColor;
}

// MENU

.social-list_menu {
  position: relative;
}
.social-list__item_menu {
  & + & {
    margin-left: 20px;
  }
  &:not(:first-child)::before {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    top: 0;
    margin-left: -10px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
  }
}

.social-list__link_menu {
  color: var(--accent-color);
  @include font($fw: 500, $fz: 18px, $lh: 20px, $ls: 0.02em);
}
