.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  @include centred();
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;

  @include transition($pr: background-color);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}
.social-list__icon {
  fill: currentColor;
  @include transition($pr: fill);
  .social-list__link:focus &,
  .social-list__link:hover & {
    fill: #ffffff;
  }
}

// INVERTED

.social-list__link_inverted {
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: currentColor;
}
