:root {
  // text
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  // color
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #ffffff;
  //
  --primary-logo-color: #000000;
  --accent-color: #2196f3;
  --active-color: #188ce8;
}
